<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shopImageUrl</key>
		<string>http://gfs17.gomein.net.cn/T1GDxvBjbv1RCvBVdK-800.jpg</string>
		<key>shopTitle</key>
		<string>Apple Iphone 8Plus 256G 金色 移动联通电信三网通</string>
		<key>shopCommission</key>
		<string>73.99</string>
		<key>shopAmount</key>
		<string>7388</string>
	</dict>
	<dict>
		<key>shopImageUrl</key>
		<string>http://gfs17.gomein.net.cn/T1X9VvB4h_1RCvBVdK-800.jpg</string>
		<key>shopTitle</key>
		<string>春秋女款时尚韩国纯棉睡衣可外穿</string>
		<key>shopCommission</key>
		<string>9.3</string>
		<key>shopAmount</key>
		<string>39</string>
	</dict>
	<dict>
		<key>shopImageUrl</key>
		<string>http://gfs17.gomein.net.cn/T1RECsB5VT1RCvBVdK-800.jpg</string>
		<key>shopTitle</key>
		<string>妮维雅男士水活畅头精华露50g</string>
		<key>shopCommission</key>
		<string>9.90</string>
		<key>shopAmount</key>
		<string>99</string>
	</dict>
	<dict>
		<key>shopImageUrl</key>
		<string>http://gfs17.gomein.net.cn/T1XvLTBvJg1RCvBVdK-800.jpg</string>
		<key>shopTitle</key>
		<string>百雀羚男士控油保湿系列套装（洁面膏 保湿露）</string>
		<key>shopCommission</key>
		<string>4.89</string>
		<key>shopAmount</key>
		<string>29</string>
	</dict>
	<dict>
		<key>shopImageUrl</key>
		<string>http://gfs17.gomein.net.cn/T1FgEvBsYg1RCvBVdK-800.jpg</string>
		<key>shopTitle</key>
		<string>正宗橙子小果肉 买5斤送5斤共发10斤 香橙可口</string>
		<key>shopCommission</key>
		<string>3.99</string>
		<key>shopAmount</key>
		<string>49.0</string>
	</dict>
	<dict>
		<key>shopImageUrl</key>
		<string>http://gfs17.gomein.net.cn/T1puDTBXKT1RCvBVdK-800.jpg</string>
		<key>shopTitle</key>
		<string>云南白药金口健康牙齿每一天（益优选）105g</string>
		<key>shopCommission</key>
		<string>4.97</string>
		<key>shopAmount</key>
		<string>19.9</string>
	</dict>
	<dict>
		<key>shopImageUrl</key>
		<string>http://gfs17.gomein.net.cn/T1GDxvBjbv1RCvBVdK-800.jpg</string>
		<key>shopTitle</key>
		<string>Apple Iphone 8Plus 256G 金色 移动联通电信三网通</string>
		<key>shopCommission</key>
		<string>73.99</string>
		<key>shopAmount</key>
		<string>7388</string>
	</dict>
	<dict>
		<key>shopImageUrl</key>
		<string>http://gfs17.gomein.net.cn/T1XvLTBvJg1RCvBVdK-800.jpg</string>
		<key>shopTitle</key>
		<string>百雀羚男士控油保湿系列套装（洁面膏 保湿露）</string>
		<key>shopCommission</key>
		<string>4.89</string>
		<key>shopAmount</key>
		<string>29</string>
	</dict>
	<dict>
		<key>shopImageUrl</key>
		<string>http://gfs17.gomein.net.cn/T1X9VvB4h_1RCvBVdK-800.jpg</string>
		<key>shopTitle</key>
		<string>春秋女款时尚韩国纯棉睡衣可外穿</string>
		<key>shopCommission</key>
		<string>9.3</string>
		<key>shopAmount</key>
		<string>39</string>
	</dict>
	<dict>
		<key>shopImageUrl</key>
		<string>http://gfs17.gomein.net.cn/T1puDTBXKT1RCvBVdK-800.jpg</string>
		<key>shopTitle</key>
		<string>云南白药金口健康牙齿每一天（益优选）105g</string>
		<key>shopCommission</key>
		<string>4.97</string>
		<key>shopAmount</key>
		<string>19.9</string>
	</dict>
	<dict>
		<key>shopImageUrl</key>
		<string>http://gfs17.gomein.net.cn/T1XvLTBvJg1RCvBVdK-800.jpg</string>
		<key>shopTitle</key>
		<string>百雀羚男士控油保湿系列套装（洁面膏 保湿露）</string>
		<key>shopCommission</key>
		<string>4.89</string>
		<key>shopAmount</key>
		<string>29</string>
	</dict>
	<dict>
		<key>shopImageUrl</key>
		<string>http://gfs17.gomein.net.cn/T1puDTBXKT1RCvBVdK-800.jpg</string>
		<key>shopTitle</key>
		<string>云南白药金口健康牙齿每一天（益优选）105g</string>
		<key>shopCommission</key>
		<string>4.97</string>
		<key>shopAmount</key>
		<string>19.9</string>
	</dict>
</array>
</plist>
