<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image_url</key>
		<string>http://gfs1.gomein.net.cn/T1f.CTByCv1RCvBVdK_160.jpeg?v=20170510</string>
		<key>price</key>
		<integer>3999</integer>
		<key>stock</key>
		<integer>34</integer>
		<key>nature</key>
		<string>精选</string>
	</dict>
	<dict>
		<key>image_url</key>
		<string>http://gfs.gomein.net.cn/T1cCCTByxv1RCvBVdK_160.jpg</string>
		<key>price</key>
		<integer>32</integer>
		<key>stock</key>
		<integer>4444</integer>
		<key>nature</key>
		<string>省钱</string>
	</dict>
	<dict>
		<key>image_url</key>
		<string>http://gfs.gomein.net.cn/T1CVLTBbhT1RCvBVdK_160.jpg</string>
		<key>price</key>
		<integer>3222</integer>
		<key>stock</key>
		<integer>332</integer>
		<key>nature</key>
		<string>划算</string>
	</dict>
	<dict>
		<key>image_url</key>
		<string>http://gfs.gomein.net.cn/T12oVTB5bT1RCvBVdK_160.jpg</string>
		<key>price</key>
		<integer>2333</integer>
		<key>stock</key>
		<integer>455</integer>
		<key>nature</key>
		<string>划算</string>
	</dict>
	<dict>
		<key>image_url</key>
		<string>http://gfs.gomein.net.cn/T1aVbTBCET1RCvBVdK_160.jpg</string>
		<key>price</key>
		<integer>89</integer>
		<key>stock</key>
		<integer>55</integer>
		<key>nature</key>
		<string>抢购</string>
	</dict>
	<dict>
		<key>image_url</key>
		<string>http://gfs.gomein.net.cn/T1IkhTBgbv1RCvBVdK_160.jpg</string>
		<key>price</key>
		<integer>233</integer>
		<key>stock</key>
		<integer>84</integer>
		<key>nature</key>
		<string>精选</string>
	</dict>
	<dict>
		<key>image_url</key>
		<string>http://gfs.gomein.net.cn/T1wkbTBQdT1RCvBVdK_160.jpg</string>
		<key>price</key>
		<integer>122</integer>
		<key>stock</key>
		<integer>34</integer>
		<key>nature</key>
		<string>精选</string>
	</dict>
</array>
</plist>
