<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImage</key>
		<string>http://gfs8.gomein.net.cn/T1OMAvBQhT1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>手机充值</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs9.gomein.net.cn/T15dxvBsdT1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>手机数码</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs6.gomein.net.cn/T1SGdvBjEj1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>国美电器</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs6.gomein.net.cn/T10GdvBjAj1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>国美管家</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs5.gomein.net.cn/T1IGdvBjDj1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>金融理财</string>
		<key>gridTag</key>
		<string>分期免息 </string>
		<key>gridColor</key>
		<string>#A48A56</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs7.gomein.net.cn/T1yGdvBvZj1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>国美超市</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs7.gomein.net.cn/T1cvKvBbhT1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>家居家装</string>
		<key>gridTag</key>
		<string>9.9 元起 </string>
		<key>gridColor</key>
		<string>#80BA18</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs9.gomein.net.cn/T1VGDvB4Vj1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>领美逗</string>
		<key>gridTag</key>
		<string>+5 美逗 </string>
		<key>gridColor</key>
		<string>#FD911B</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs5.gomein.net.cn/T1EvKvBv_v1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>领券中心</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>http://gfs9.gomein.net.cn/T1hIKvBjEv1RCvBVdK.png</string>
		<key>gridTitle</key>
		<string>更多服务</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
</array>
</plist>
