<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>goods_address</key>
		<string>江苏 南京</string>
		<key>sale_count</key>
		<string>222</string>
		<key>expressage</key>
		<string>12</string>
		<key>goods_title</key>
		<string>Apple 苹果 iPhone7Plus 全网4G 5.5寸双摄像头 </string>
		<key>goodspics</key>
		<string>shopImage03</string>
		<key>price</key>
		<real>0.01</real>
		<key>sales</key>
		<integer>293</integer>
		<key>secondtitle</key>
		<string>采用iOS 10系统，配置A10芯片。图像防抖功能</string>
		<key>stock</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>goods_address</key>
		<string>江苏 苏州 </string>
		<key>expressage</key>
		<string>30</string>
		<key>sale_count</key>
		<string>123</string>
		<key>goods_title</key>
		<string>Apple 苹果 iPhone6s 全网4G 4.7寸 3D touch 1200万像素 热销机型</string>
		<key>goodspics</key>
		<string>shopImage02</string>
		<key>price</key>
		<real>0.01</real>
		<key>sales</key>
		<integer>199</integer>
		<key>secondtitle</key>
		<string>1200万像素，4.7英寸屏幕，采用64位处理器</string>
		<key>stock</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>goods_address</key>
		<string>江苏 盐城</string>
		<key>expressage</key>
		<string>10</string>
		<key>sale_count</key>
		<string>366</string>
		<key>goods_title</key>
		<string>Apple 苹果 iPhone7 全网4G 4.7寸 最新款</string>
		<key>goodspics</key>
		<string>shopImage01</string>
		<key>price</key>
		<real>0.01</real>
		<key>sales</key>
		<integer>427</integer>
		<key>secondtitle</key>
		<string>128G容量畅销首选！</string>
		<key>stock</key>
		<integer>600</integer>
	</dict>
</array>
</plist>
