<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>attr</key>
			<dict>
				<key>addtime</key>
				<integer>1484913014000</integer>
				<key>attrid</key>
				<string>187c744c-8e50-4949-94c9-fac8b23a8d8b</string>
				<key>attrname</key>
				<string>容量大小</string>
				<key>attrtype</key>
				<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
			</dict>
			<key>list</key>
			<array>
				<dict>
					<key>addtime</key>
					<integer>1486483200000</integer>
					<key>attrid</key>
					<string>187c744c-8e50-4949-94c9-fac8b23a8d8b</string>
					<key>goodsid</key>
					<string>43779fa3-ccc2-4125-b20a-447d7e983085</string>
					<key>infoid</key>
					<string>e207831a-9f5d-408d-bdab-6089ddb1e463</string>
					<key>infoname</key>
					<string>64G</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>addtime</key>
					<integer>1486483200000</integer>
					<key>attrid</key>
					<string>187c744c-8e50-4949-94c9-fac8b23a8d8b</string>
					<key>goodsid</key>
					<string>43779fa3-ccc2-4125-b20a-447d7e983085</string>
					<key>infoid</key>
					<string>46c0419b-7eb9-4190-9f47-5fab7692b5c6</string>
					<key>infoname</key>
					<string>16G</string>
					<key>infotypeid</key>
					<string>2adf5b11-3f71-4541-a7b7-90e7e7b1ff5d</string>
					<key>plusprice</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>attr</key>
			<dict>
				<key>addtime</key>
				<integer>1484462818000</integer>
				<key>attrid</key>
				<string>e1ad5970-1d28-4a4b-9147-6516ff0fa4d7</string>
				<key>attrname</key>
				<string>网络类型</string>
				<key>attrtype</key>
				<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
			</dict>
			<key>list</key>
			<array>
				<dict>
					<key>addtime</key>
					<integer>1486483200000</integer>
					<key>attrid</key>
					<string>e1ad5970-1d28-4a4b-9147-6516ff0fa4d7</string>
					<key>goodsid</key>
					<string>43779fa3-ccc2-4125-b20a-447d7e983085</string>
					<key>infoid</key>
					<string>2a8fc480-37ba-489e-960c-c72c86cceb9a</string>
					<key>infoname</key>
					<string>4G全网通</string>
					<key>infotypeid</key>
					<string>2adf5b11-3f71-4541-a7b7-90e7e7b1ff5d</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>addtime</key>
					<integer>1486483200000</integer>
					<key>attrid</key>
					<string>e1ad5970-1d28-4a4b-9147-6516ff0fa4d7</string>
					<key>goodsid</key>
					<string>43779fa3-ccc2-4125-b20a-447d7e983085</string>
					<key>infoid</key>
					<string>44b21307-3208-431b-89ac-e92cd2d380fa</string>
					<key>infoname</key>
					<string>3G联通</string>
					<key>infotypeid</key>
					<string>2adf5b11-3f71-4541-a7b7-90e7e7b1ff5d</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>addtime</key>
					<integer>1486483200000</integer>
					<key>attrid</key>
					<string>e1ad5970-1d28-4a4b-9147-6516ff0fa4d7</string>
					<key>goodsid</key>
					<string>43779fa3-ccc2-4125-b20a-447d7e983085</string>
					<key>infoid</key>
					<string>c6bc125d-d454-4d30-a36f-007748755500</string>
					<key>infoname</key>
					<string>3G移动</string>
					<key>infotypeid</key>
					<string>2adf5b11-3f71-4541-a7b7-90e7e7b1ff5d</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>attr</key>
			<dict>
				<key>addtime</key>
				<integer>1484462830000</integer>
				<key>attrid</key>
				<string>8d54c693-2ecc-4176-b61b-24122320aeb7</string>
				<key>attrname</key>
				<string>机身颜色</string>
				<key>attrtype</key>
				<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
			</dict>
			<key>list</key>
			<array>
				<dict>
					<key>addtime</key>
					<integer>1486483200000</integer>
					<key>attrid</key>
					<string>8d54c693-2ecc-4176-b61b-24122320aeb7</string>
					<key>goodsid</key>
					<string>43779fa3-ccc2-4125-b20a-447d7e983085</string>
					<key>infoid</key>
					<string>72e101d0-985c-475f-b008-871d5f6eb875</string>
					<key>infoname</key>
					<string>金色</string>
					<key>infotypeid</key>
					<string>2adf5b11-3f71-4541-a7b7-90e7e7b1ff5d</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>addtime</key>
					<integer>1486483200000</integer>
					<key>attrid</key>
					<string>8d54c693-2ecc-4176-b61b-24122320aeb7</string>
					<key>goodsid</key>
					<string>43779fa3-ccc2-4125-b20a-447d7e983085</string>
					<key>infoid</key>
					<string>204303aa-cc35-4a9e-8307-7e70b45e4bbe</string>
					<key>infoname</key>
					<string>银色</string>
					<key>infotypeid</key>
					<string>2adf5b11-3f71-4541-a7b7-90e7e7b1ff5d</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>type</key>
	<string>success</string>
</dict>
</plist>
