<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>attr</key>
			<dict>
				<key>addtime</key>
				<integer>1484913014000</integer>
				<key>attrid</key>
				<string>187c744c-8e50-4949-94c9-fac8b23a8d8b</string>
				<key>attrname</key>
				<string>容量大小</string>
				<key>attrtype</key>
				<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
			</dict>
			<key>list</key>
			<array>
				<dict>
					<key>addtime</key>
					<integer>1486569600000</integer>
					<key>attrid</key>
					<string>187c744c-8e50-4949-94c9-fac8b23a8d8b</string>
					<key>goodsid</key>
					<string>6f410141-8d1d-4e74-afab-bea34b93cb45</string>
					<key>infoid</key>
					<string>14387496-3cb5-4995-8e9f-061dfd277a99</string>
					<key>infoname</key>
					<string>16G</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>addtime</key>
					<integer>1486569600000</integer>
					<key>attrid</key>
					<string>187c744c-8e50-4949-94c9-fac8b23a8d8b</string>
					<key>goodsid</key>
					<string>6f410141-8d1d-4e74-afab-bea34b93cb45</string>
					<key>infoid</key>
					<string>243f405c-7664-437d-94f8-b6c88cdd2612</string>
					<key>infoname</key>
					<string>64G</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>200</integer>
				</dict>
				<dict>
					<key>addtime</key>
					<integer>1486569600000</integer>
					<key>attrid</key>
					<string>187c744c-8e50-4949-94c9-fac8b23a8d8b</string>
					<key>goodsid</key>
					<string>6f410141-8d1d-4e74-afab-bea34b93cb45</string>
					<key>infoid</key>
					<string>08c1410c-d834-47fd-b3d4-33ecfb2e3733</string>
					<key>infoname</key>
					<string>128G</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>600</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>attr</key>
			<dict>
				<key>addtime</key>
				<integer>1484462830000</integer>
				<key>attrid</key>
				<string>8d54c693-2ecc-4176-b61b-24122320aeb7</string>
				<key>attrname</key>
				<string>机身颜色</string>
				<key>attrtype</key>
				<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
			</dict>
			<key>list</key>
			<array>
				<dict>
					<key>addtime</key>
					<integer>1486569600000</integer>
					<key>attrid</key>
					<string>8d54c693-2ecc-4176-b61b-24122320aeb7</string>
					<key>goodsid</key>
					<string>6f410141-8d1d-4e74-afab-bea34b93cb45</string>
					<key>infoid</key>
					<string>92d86482-6af4-4de7-805e-73267d2bab1a</string>
					<key>infoname</key>
					<string>金色</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>addtime</key>
					<integer>1486569600000</integer>
					<key>attrid</key>
					<string>8d54c693-2ecc-4176-b61b-24122320aeb7</string>
					<key>goodsid</key>
					<string>6f410141-8d1d-4e74-afab-bea34b93cb45</string>
					<key>infoid</key>
					<string>0f9e5877-042d-44b9-9d45-1b530b96daba</string>
					<key>infoname</key>
					<string>银色</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>10</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>type</key>
	<string>success</string>
</dict>
</plist>
