<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attr</key>
		<dict>
			<key>attrname</key>
			<string>机身颜色</string>
		</dict>
		<key>list</key>
		<array>
			<dict>
				<key>infoname</key>
				<string>金色</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>银色</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>attr</key>
		<dict>
			<key>attrname</key>
			<string>网络类型</string>
		</dict>
		<key>list</key>
		<array>
			<dict>
				<key>infoname</key>
				<string>4G全网通</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>3G联通</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>3G移动</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>attr</key>
		<dict>
			<key>attrname</key>
			<string>容量大小</string>
		</dict>
		<key>list</key>
		<array>
			<dict>
				<key>infoname</key>
				<string>64G</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>16G</string>
				<key>plusprice</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
