<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>attr</key>
			<dict>
				<key>addtime</key>
				<integer>1484913014000</integer>
				<key>attrid</key>
				<string>187c744c-8e50-4949-94c9-fac8b23a8d8b</string>
				<key>attrname</key>
				<string>容量大小</string>
				<key>attrtype</key>
				<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
			</dict>
			<key>list</key>
			<array>
				<dict>
					<key>addtime</key>
					<integer>1485878400000</integer>
					<key>attrid</key>
					<string>187c744c-8e50-4949-94c9-fac8b23a8d8b</string>
					<key>goodsid</key>
					<string>709f304f-be20-4388-a2f3-9d4b0dd51614</string>
					<key>infoid</key>
					<string>4dd111cb-219a-469d-8e87-cc8fc60f93a5</string>
					<key>infoname</key>
					<string>32G</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>addtime</key>
					<integer>1485878400000</integer>
					<key>attrid</key>
					<string>187c744c-8e50-4949-94c9-fac8b23a8d8b</string>
					<key>goodsid</key>
					<string>709f304f-be20-4388-a2f3-9d4b0dd51614</string>
					<key>infoid</key>
					<string>5b94d6b9-af07-463f-b3f0-5d13cb991a71</string>
					<key>infoname</key>
					<string>128G</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>150</integer>
				</dict>
				<dict>
					<key>addtime</key>
					<integer>1485878400000</integer>
					<key>attrid</key>
					<string>187c744c-8e50-4949-94c9-fac8b23a8d8b</string>
					<key>goodsid</key>
					<string>709f304f-be20-4388-a2f3-9d4b0dd51614</string>
					<key>infoid</key>
					<string>051088e2-1ff0-40c6-ad84-cc4529199192</string>
					<key>infoname</key>
					<string>256G</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>800</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>attr</key>
			<dict>
				<key>addtime</key>
				<integer>1484462818000</integer>
				<key>attrid</key>
				<string>e1ad5970-1d28-4a4b-9147-6516ff0fa4d7</string>
				<key>attrname</key>
				<string>网络类型</string>
				<key>attrtype</key>
				<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
			</dict>
			<key>list</key>
			<array>
				<dict>
					<key>addtime</key>
					<integer>1485878400000</integer>
					<key>attrid</key>
					<string>e1ad5970-1d28-4a4b-9147-6516ff0fa4d7</string>
					<key>goodsid</key>
					<string>709f304f-be20-4388-a2f3-9d4b0dd51614</string>
					<key>infoid</key>
					<string>a7aca66e-c1ef-46f8-8bfa-d654bff5dc0f</string>
					<key>infoname</key>
					<string>全网通</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>addtime</key>
					<integer>1485878400000</integer>
					<key>attrid</key>
					<string>e1ad5970-1d28-4a4b-9147-6516ff0fa4d7</string>
					<key>goodsid</key>
					<string>709f304f-be20-4388-a2f3-9d4b0dd51614</string>
					<key>infoid</key>
					<string>fafcd16d-009b-4540-9e7a-022ae315ec56</string>
					<key>infoname</key>
					<string>移动、联通双网</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>addtime</key>
					<integer>1485878400000</integer>
					<key>attrid</key>
					<string>e1ad5970-1d28-4a4b-9147-6516ff0fa4d7</string>
					<key>goodsid</key>
					<string>709f304f-be20-4388-a2f3-9d4b0dd51614</string>
					<key>infoid</key>
					<string>a60fb83e-64c8-475f-8a6e-086f897f3fde</string>
					<key>infoname</key>
					<string>电信</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>addtime</key>
					<integer>1485878400000</integer>
					<key>attrid</key>
					<string>e1ad5970-1d28-4a4b-9147-6516ff0fa4d7</string>
					<key>goodsid</key>
					<string>709f304f-be20-4388-a2f3-9d4b0dd51614</string>
					<key>infoid</key>
					<string>9c1198ff-120e-402c-9d18-373495c6b8b1</string>
					<key>infoname</key>
					<string>合约机</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>attr</key>
			<dict>
				<key>addtime</key>
				<integer>1484462830000</integer>
				<key>attrid</key>
				<string>8d54c693-2ecc-4176-b61b-24122320aeb7</string>
				<key>attrname</key>
				<string>机身颜色</string>
				<key>attrtype</key>
				<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
			</dict>
			<key>list</key>
			<array>
				<dict>
					<key>addtime</key>
					<integer>1485878400000</integer>
					<key>attrid</key>
					<string>8d54c693-2ecc-4176-b61b-24122320aeb7</string>
					<key>goodsid</key>
					<string>709f304f-be20-4388-a2f3-9d4b0dd51614</string>
					<key>infoid</key>
					<string>9490fa16-f33e-4d56-b630-b7aa9d29a317</string>
					<key>infoname</key>
					<string>亮黑</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>addtime</key>
					<integer>1485878400000</integer>
					<key>attrid</key>
					<string>8d54c693-2ecc-4176-b61b-24122320aeb7</string>
					<key>goodsid</key>
					<string>709f304f-be20-4388-a2f3-9d4b0dd51614</string>
					<key>infoid</key>
					<string>2b1e77c5-1586-4a17-a05b-fc540263d5c2</string>
					<key>infoname</key>
					<string>金色</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>addtime</key>
					<integer>1485878400000</integer>
					<key>attrid</key>
					<string>8d54c693-2ecc-4176-b61b-24122320aeb7</string>
					<key>goodsid</key>
					<string>709f304f-be20-4388-a2f3-9d4b0dd51614</string>
					<key>infoid</key>
					<string>5fd52130-71ee-487f-ba70-6fb053226a83</string>
					<key>infoname</key>
					<string>银色</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>attr</key>
			<dict>
				<key>addtime</key>
				<integer>1484462866000</integer>
				<key>attrid</key>
				<string>aabba7d9-0055-44d1-892c-04a672743dee</string>
				<key>attrname</key>
				<string>套餐类型</string>
				<key>attrtype</key>
				<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
			</dict>
			<key>list</key>
			<array>
				<dict>
					<key>addtime</key>
					<integer>1485878400000</integer>
					<key>attrid</key>
					<string>aabba7d9-0055-44d1-892c-04a672743dee</string>
					<key>goodsid</key>
					<string>709f304f-be20-4388-a2f3-9d4b0dd51614</string>
					<key>infoid</key>
					<string>34c30ad9-ce2b-4971-9802-ec9cddfdcf09</string>
					<key>infoname</key>
					<string>充满8888免费送</string>
					<key>infotypeid</key>
					<string>1d168a26-434d-45fc-88fa-7405d5b9d5ab</string>
					<key>plusprice</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>type</key>
	<string>success</string>
</dict>
</plist>
