<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imgs</key>
		<string>carry</string>
		<key>title</key>
		<string>标题1</string>
		<key>content</key>
		<string>门店自提，门店自提，门店自提，门店自提，门店自提，</string>
	</dict>
	<dict>
		<key>imgs</key>
		<string>good</string>
		<key>title</key>
		<string>标题2</string>
		<key>content</key>
		<string>品质保障，品质保障，品质保障，品质保障，品质保障</string>
	</dict>
	<dict>
		<key>imgs</key>
		<string>sale</string>
		<key>title</key>
		<string>标题2</string>
		<key>content</key>
		<string>售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障</string>
	</dict>
	<dict>
		<key>imgs</key>
		<string>post</string>
		<key>title</key>
		<string>标题4</string>
		<key>content</key>
		<string>急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货</string>
	</dict>
</array>
</plist>
