<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imgs</key>
		<string>carry</string>
		<key>title</key>
		<string>门店自提</string>
		<key>content</key>
		<string>消费者可以在品牌线下门店自提商品</string>
	</dict>
	<dict>
		<key>imgs</key>
		<string>good</string>
		<key>title</key>
		<string>品质保障</string>
		<key>content</key>
		<string>该商品中国全都享受正品保障</string>
	</dict>
	<dict>
		<key>imgs</key>
		<string>sale</string>
		<key>title</key>
		<string>售后保障</string>
		<key>content</key>
		<string>售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障,售后保障</string>
	</dict>
	<dict>
		<key>imgs</key>
		<string>post</string>
		<key>title</key>
		<string>急速发货</string>
		<key>content</key>
		<string>急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货,急速发货</string>
	</dict>
</array>
</plist>
