<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imgsArray</key>
		<array>
			<string>http://gfs9.gomein.net.cn/T19BWgBvCT1RCvBVdK.jpg</string>
			<string>http://gfs6.gomein.net.cn/T1yvJgBvET1RCvBVdK.jpg</string>
			<string>http://gfs1.gomein.net.cn/T1Ro_vBmbv1RCvBVdK.jpg</string>
			<string>http://gfs8.gomein.net.cn/T1g.b_BvKT1RCvBVdK.jpg</string>
		</array>
		<key>comName</key>
		<string>RocketsChen</string>
		<key>comIcon</key>
		<string>GM_user_default_home</string>
		<key>comTime</key>
		<string>2018-01-16</string>
		<key>comContent</key>
		<string>东西不错，就是外装包的太随意了给的不值得，试了一下机子还行</string>
		<key>comReBack</key>
		<string>很抱歉给您带来了不好的体验，我们努力做到更好，秉承一个感恩的心</string>
		<key>comSpecifications</key>
		<string>玫瑰金 64G 中国大陆</string>
	</dict>
</array>
</plist>
