<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>images</key>
		<array>
			<string>http://gfs1.gomein.net.cn/T195dvB7Ej1RCvBVdK.jpg</string>
			<string>http://gfs1.gomein.net.cn/T1Ro_vBmbv1RCvBVdK.jpg</string>
			<string>http://gfs1.gomein.net.cn/T1Ro_vBmbv1RCvBVdK.jpg</string>
			<string>http://gfs1.gomein.net.cn/T1Ro_vBmbv1RCvBVdK.jpg</string>
			<string>http://gfs1.gomein.net.cn/T1Ro_vBmbv1RCvBVdK.jpg</string>
			<string>http://gfs1.gomein.net.cn/T1Ro_vBmbv1RCvBVdK.jpg</string>
			<string>http://gfs1.gomein.net.cn/T1Ro_vBmbv1RCvBVdK.jpg</string>
		</array>
		<key>nickName</key>
		<string>RocketsChen</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>http://gfs2.gomein.net.cn/T1QmbTBKZT1RCvBVdK.jpg</string>
			<string>http://gfs2.gomein.net.cn/T1QmbTBKZT1RCvBVdK.jpg</string>
			<string>http://gfs2.gomein.net.cn/T1QmbTBKZT1RCvBVdK.jpg</string>
			<string>http://gfs2.gomein.net.cn/T1QmbTBKZT1RCvBVdK.jpg</string>
		</array>
		<key>nickName</key>
		<string>哈哈哈哈啊</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>http://gfs3.gomein.net.cn/T1aSxTBCCT1RCvBVdK.jpeg</string>
			<string>http://gfs3.gomein.net.cn/T1aSxTBCCT1RCvBVdK.jpeg</string>
			<string>http://gfs3.gomein.net.cn/T1aSxTBCCT1RCvBVdK.jpeg</string>
			<string>http://gfs3.gomein.net.cn/T1aSxTBCCT1RCvBVdK.jpeg</string>
			<string>http://gfs3.gomein.net.cn/T1aSxTBCCT1RCvBVdK.jpeg</string>
		</array>
		<key>nickName</key>
		<string>IOS 开发</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>http://gfs4.gomein.net.cn/T1tGWTBmAQ1RCvBVdK.jpeg</string>
			<string>http://gfs10.gomein.net.cn/T1BoKvBm__1RCvBVdK.jpg</string>
			<string>http://gfs4.gomein.net.cn/T1tGWTBmAQ1RCvBVdK.jpeg</string>
			<string>http://gfs4.gomein.net.cn/T1tGWTBmAQ1RCvBVdK.jpeg</string>
			<string>http://gfs4.gomein.net.cn/T1tGWTBmAQ1RCvBVdK.jpeg</string>
		</array>
		<key>nickName</key>
		<string>Objective-C</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>http://gfs4.gomein.net.cn/T1tGWTBmAQ1RCvBVdK.jpeg</string>
			<string>http://gfs4.gomein.net.cn/T1tGWTBmAQ1RCvBVdK.jpeg</string>
			<string>http://gfs4.gomein.net.cn/T1tGWTBmAQ1RCvBVdK.jpeg</string>
			<string>http://gfs4.gomein.net.cn/T1tGWTBmAQ1RCvBVdK.jpeg</string>
		</array>
		<key>nickName</key>
		<string>Javacript</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>http://gfs7.gomein.net.cn/T1SkbvB7Wv1RCvBVdK.jpg</string>
			<string>http://gfs7.gomein.net.cn/T1SkbvB7Wv1RCvBVdK.jpg</string>
			<string>http://gfs7.gomein.net.cn/T1SkbvB7Wv1RCvBVdK.jpg</string>
			<string>http://gfs1.gomein.net.cn/T1o5KvB4Jg1RCvBVdK.jpg</string>
			<string>http://gfs10.gomein.net.cn/T1F5CvB_dg1RCvBVdK.jpg</string>
			<string>http://gfs10.gomein.net.cn/T1F5CvB_dg1RCvBVdK.jpg</string>
		</array>
		<key>nickName</key>
		<string>CDDMall</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>http://gfs10.gomein.net.cn/T1e.xvByYQ1RCvBVdK.jpg</string>
			<string>http://gfs10.gomein.net.cn/T1BoKvBm__1RCvBVdK.jpg</string>
			<string>http://gfs10.gomein.net.cn/T1BoKvBm__1RCvBVdK.jpg</string>
			<string>http://gfs10.gomein.net.cn/T1e.xvByYQ1RCvBVdK.jpg</string>
		</array>
		<key>nickName</key>
		<string>CDDStore</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>http://gfs10.gomein.net.cn/T1e.xvByYQ1RCvBVdK.jpg</string>
			<string>http://gfs10.gomein.net.cn/T1BoKvBm__1RCvBVdK.jpg</string>
			<string>http://gfs10.gomein.net.cn/T1BoKvBm__1RCvBVdK.jpg</string>
			<string>http://gfs10.gomein.net.cn/T1e.xvByYQ1RCvBVdK.jpg</string>
		</array>
		<key>nickName</key>
		<string>YoukeNow</string>
	</dict>
</array>
</plist>
