<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>showImage</key>
		<true/>
		<key>bgColor</key>
		<false/>
		<key>stateTitle</key>
		<string>待支付</string>
		<key>imageContent</key>
		<string>wdgm_icon_daizhifu</string>
	</dict>
	<dict>
		<key>showImage</key>
		<true/>
		<key>bgColor</key>
		<false/>
		<key>stateTitle</key>
		<string>待收货</string>
		<key>imageContent</key>
		<string>wdgm_icon_daishouhuo</string>
	</dict>
	<dict>
		<key>showImage</key>
		<true/>
		<key>bgColor</key>
		<false/>
		<key>stateTitle</key>
		<string>待评价</string>
		<key>imageContent</key>
		<string>wdgm_icon_daipingjia</string>
	</dict>
	<dict>
		<key>showImage</key>
		<true/>
		<key>bgColor</key>
		<false/>
		<key>stateTitle</key>
		<string>退款/售后</string>
		<key>imageContent</key>
		<string>wdgm_icon_tuikuan</string>
	</dict>
	<dict>
		<key>showImage</key>
		<true/>
		<key>bgColor</key>
		<true/>
		<key>stateTitle</key>
		<string>全部订单</string>
		<key>imageContent</key>
		<string>quanbudindan</string>
	</dict>
	<dict>
		<key>showImage</key>
		<false/>
		<key>bgColor</key>
		<false/>
		<key>stateTitle</key>
		<string>国美币</string>
		<key>imageContent</key>
		<string>0.00</string>
	</dict>
	<dict>
		<key>showImage</key>
		<false/>
		<key>bgColor</key>
		<false/>
		<key>stateTitle</key>
		<string>优惠币</string>
		<key>imageContent</key>
		<string>0</string>
	</dict>
	<dict>
		<key>showImage</key>
		<false/>
		<key>bgColor</key>
		<false/>
		<key>stateTitle</key>
		<string>美豆</string>
		<key>imageContent</key>
		<string>5</string>
	</dict>
	<dict>
		<key>showImage</key>
		<true/>
		<key>bgColor</key>
		<false/>
		<key>stateTitle</key>
		<string>全部订单</string>
		<key>imageContent</key>
		<string>quanbudindan</string>
	</dict>
	<dict>
		<key>showImage</key>
		<true/>
		<key>bgColor</key>
		<true/>
		<key>stateTitle</key>
		<string>全部订单</string>
		<key>imageContent</key>
		<string>quanbudindan</string>
	</dict>
</array>
</plist>
