<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gridColor</key>
		<string>#F36E69</string>
		<key>gridTag</key>
		<string>签到有理</string>
		<key>gridTitle</key>
		<string>会员俱乐部</string>
		<key>iconImage</key>
		<string>MG_huiyuan</string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string></string>
		<key>gridTag</key>
		<string></string>
		<key>gridTitle</key>
		<string>领券中心</string>
		<key>iconImage</key>
		<string>MG_lingquanzhongxin</string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string></string>
		<key>gridTag</key>
		<string></string>
		<key>gridTitle</key>
		<string>美豆商城</string>
		<key>iconImage</key>
		<string>MG_meidoushangcheng</string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string></string>
		<key>gridTag</key>
		<string></string>
		<key>gridTitle</key>
		<string>门店积分</string>
		<key>iconImage</key>
		<string>MG_mendianjifen</string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string></string>
		<key>gridTag</key>
		<string></string>
		<key>gridTitle</key>
		<string>我的礼物</string>
		<key>iconImage</key>
		<string>MG_liwugou</string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string>#86CC57</string>
		<key>gridTag</key>
		<string>赚佣金</string>
		<key>gridTitle</key>
		<string>我的预约</string>
		<key>iconImage</key>
		<string>MG_yuyue</string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string></string>
		<key>gridTag</key>
		<string></string>
		<key>gridTitle</key>
		<string>我的拼团</string>
		<key>iconImage</key>
		<string>MG_pingou</string>
	</dict>
	<dict>
		<key>gridColor</key>
		<string></string>
		<key>gridTag</key>
		<string></string>
		<key>gridTitle</key>
		<string>我的评价</string>
		<key>iconImage</key>
		<string>MG_PingJia</string>
	</dict>
</array>
</plist>
