<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>车载电器</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/gicon/cat15985867.png</string>
				<key>goods_title</key>
				<string>滤清器</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/gicon/cat15985672.png</string>
				<key>goods_title</key>
				<string>改装配件</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/gicon/cat15985840.png</string>
				<key>goods_title</key>
				<string>座椅</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/promotion_image/promoImg/201603/20160316/cat20805687.png</string>
				<key>goods_title</key>
				<string>头盔</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/gicon/cat15985875.png</string>
				<key>goods_title</key>
				<string>记录仪</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>安全自驾</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat21755560.png</string>
				<key>goods_title</key>
				<string>自驾装备</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat15985873.png</string>
				<key>goods_title</key>
				<string>防盗设施</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/gicon/cat20805704.png</string>
				<key>goods_title</key>
				<string>平衡车</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/gicon/cat10005479.png</string>
				<key>goods_title</key>
				<string>方向盘</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/gicon/cat15985844.png</string>
				<key>goods_title</key>
				<string>靠垫</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/gicon/cat32897453.png</string>
				<key>goods_title</key>
				<string>车模</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>热门品牌</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/jiedulogo.png</string>
				<key>goods_title</key>
				<string>捷渡</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/tiejiangjunlogo.png</string>
				<key>goods_title</key>
				<string>铁将军</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/meifulogo.png</string>
				<key>goods_title</key>
				<string>mobil</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/papagoulogo.png</string>
				<key>goods_title</key>
				<string>papa</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/feilipulogo.png</string>
				<key>goods_title</key>
				<string>phi</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/ganenlogo.png</string>
				<key>goods_title</key>
				<string>感恩</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/shijiadianlogo.png</string>
				<key>goods_title</key>
				<string>家电</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/lingdulogo.png</string>
				<key>goods_title</key>
				<string>零度</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/tuhulogo.png</string>
				<key>goods_title</key>
				<string>途虎</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
