<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>大家电</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10000049.png</string>
				<key>goods_title</key>
				<string>平板电视</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/gicon/cat10000054.png</string>
				<key>goods_title</key>
				<string>冰箱</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000062.png</string>
				<key>goods_title</key>
				<string>挂饰空调</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>数码通讯</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000070.png</string>
				<key>goods_title</key>
				<string>手机</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/gicon/cat10000092.png</string>
				<key>goods_title</key>
				<string>笔记本电脑</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/gicon/cat10000145.png</string>
				<key>goods_title</key>
				<string>单反相机</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>厨卫生活</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10000234.png</string>
				<key>goods_title</key>
				<string>电风扇</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/promotion_image/promoImg/201504/20150430/cat10000230x.png</string>
				<key>goods_title</key>
				<string>空气净化器</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat10000203.png</string>
				<key>goods_title</key>
				<string>微波炉</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>日用百货</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/gicon/cat16035542.png</string>
				<key>goods_title</key>
				<string>啤酒</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/gicon/cat21755542.png</string>
				<key>goods_title</key>
				<string>品牌纸尿裤</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/gicon/cat10005460.png</string>
				<key>goods_title</key>
				<string>床品件套</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>热门品牌</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/promotion_image/promoImg/201504/20150407/mide_4.png</string>
				<key>goods_title</key>
				<string>美的</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/promotion_image/promoImg/201504/20150403/haix_1.png</string>
				<key>goods_title</key>
				<string>海森</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/promotion_image/promoImg/201504/20150408/naji_9.png</string>
				<key>goods_title</key>
				<string>南极人</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/promotion_image/promoImg/201504/20150407/nike_6.png</string>
				<key>goods_title</key>
				<string>耐克</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/promotion_image/promoImg/201504/20150403/laob_3.png</string>
				<key>goods_title</key>
				<string>老板</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/promotion_image/promoImg/201504/20150407/huaw_7.png</string>
				<key>goods_title</key>
				<string>烤</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/promotion_image/promoImg/201504/20150408/naji_9.png</string>
				<key>goods_title</key>
				<string>南极人</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/promotion_image/promoImg/201504/20150407/mi_8.png</string>
				<key>goods_title</key>
				<string>小米</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/promotion_image/promoImg/201504/20150403/ping_2.png</string>
				<key>goods_title</key>
				<string>苹果</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
