<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>男装</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/promimg/topics/201607/201607211606480715.png</string>
				<key>goods_title</key>
				<string>马甲/背心</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>家具内衣</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/gicon/cat15985592.png</string>
				<key>goods_title</key>
				<string>男娃</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/gicon/cat18776491.png</string>
				<key>goods_title</key>
				<string>睡袍</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/gicon/cat15985595.png</string>
				<key>goods_title</key>
				<string>男士内裤</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/gicon/cat18776489.png</string>
				<key>goods_title</key>
				<string>家居服</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/promotion_image/promoImg/201508/20150812/cat18776492.png</string>
				<key>goods_title</key>
				<string>保暖内衣</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/promimg/topics/201607/201607211613210484.png</string>
				<key>goods_title</key>
				<string>抹胸</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>服饰配件</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/promimg/topics/201607/201607211623370815.png</string>
				<key>goods_title</key>
				<string>墨镜</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat15985605.png</string>
				<key>goods_title</key>
				<string>围巾</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/gicon/cat15985602.png</string>
				<key>goods_title</key>
				<string>丝巾</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/gicon/cat15985601.png</string>
				<key>goods_title</key>
				<string>帽子</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>男鞋</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/gicon/cat15985633.png</string>
				<key>goods_title</key>
				<string>休闲鞋</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/gicon/cat15985695.png</string>
				<key>goods_title</key>
				<string>布鞋</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/gicon/cat15985644.png</string>
				<key>goods_title</key>
				<string>板鞋</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/gicon/cat15985636.png</string>
				<key>goods_title</key>
				<string>帆布鞋</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/promimg/topics/201607/201607211629070285.png</string>
				<key>goods_title</key>
				<string>凉鞋</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>女鞋</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/gicon/cat15985629.png</string>
				<key>goods_title</key>
				<string>女鞋</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/gicon/cat18776486.png</string>
				<key>goods_title</key>
				<string>高跟鞋</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/gicon/cat18776487.png</string>
				<key>goods_title</key>
				<string>松糕鞋</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/gicon/cat18776488.png</string>
				<key>goods_title</key>
				<string>休闲鞋</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>热门品牌</string>
		<key>goods</key>
		<array>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/kadile.jpg</string>
				<key>goods_title</key>
				<string>鳄鱼</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img14.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/shanshan.jpg</string>
				<key>goods_title</key>
				<string>杉杉</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/promotion_image/promoImg/201504/20150408/naji_9.png</string>
				<key>goods_title</key>
				<string>南极人</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img11.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/jinhou.jpg</string>
				<key>goods_title</key>
				<string>金猴</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/luoweiqi.jpg</string>
				<key>goods_title</key>
				<string>罗薇</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img12.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/zhandijipu.jpg</string>
				<key>goods_title</key>
				<string>AFS</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img13.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/shanganf.jpg</string>
				<key>goods_title</key>
				<string>SH</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/promotion_image/promoImg/201506/20150626/simier.jpg</string>
				<key>goods_title</key>
				<string>斯米尔</string>
			</dict>
			<dict>
				<key>image_url</key>
				<string>http://img10.gomein.net.cn/image/prodimg/promotion_image/promoImg/201507/20150701/kaides.jpg</string>
				<key>goods_title</key>
				<string>卡僧</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
