<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods01.plist</string>
		<key>title</key>
		<string>热门分类</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods02.plist</string>
		<key>title</key>
		<string>手机数码</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods03.plist</string>
		<key>title</key>
		<string>电脑办公</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods01.plist</string>
		<key>title</key>
		<string>电视影视</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods02.plist</string>
		<key>title</key>
		<string>空调冰系</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods03.plist</string>
		<key>title</key>
		<string>厨卫电视</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods01.plist</string>
		<key>title</key>
		<string>生活电器</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods02.plist</string>
		<key>title</key>
		<string>食品饮酒</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods03.plist</string>
		<key>title</key>
		<string>美妆个护</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods01.plist</string>
		<key>title</key>
		<string>母婴玩具</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods02.plist</string>
		<key>title</key>
		<string>服饰鞋帽</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>ClassiftyGoods01.plist</string>
		<key>title</key>
		<string>运动户外</string>
	</dict>
</array>
</plist>
