<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headTitle</key>
		<string>品牌</string>
		<key>content</key>
		<array>
			<dict>
				<key>content</key>
				<string>APPLE</string>
			</dict>
			<dict>
				<key>content</key>
				<string>三星</string>
			</dict>
			<dict>
				<key>content</key>
				<string>vivo</string>
			</dict>
			<dict>
				<key>content</key>
				<string>魅族</string>
			</dict>
			<dict>
				<key>content</key>
				<string>小米</string>
			</dict>
			<dict>
				<key>content</key>
				<string>荣耀</string>
			</dict>
			<dict>
				<key>content</key>
				<string>华为</string>
			</dict>
			<dict>
				<key>content</key>
				<string>金立</string>
			</dict>
			<dict>
				<key>content</key>
				<string>黑莓</string>
			</dict>
			<dict>
				<key>content</key>
				<string>诺基亚</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headTitle</key>
		<string>运行商</string>
		<key>content</key>
		<array>
			<dict>
				<key>content</key>
				<string>全网通</string>
			</dict>
			<dict>
				<key>content</key>
				<string>双网通</string>
			</dict>
			<dict>
				<key>content</key>
				<string>移动4G</string>
			</dict>
			<dict>
				<key>content</key>
				<string>电信4G</string>
			</dict>
			<dict>
				<key>content</key>
				<string>联通4G</string>
			</dict>
			<dict>
				<key>content</key>
				<string>其他</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headTitle</key>
		<string>运行内存</string>
		<key>content</key>
		<array>
			<dict>
				<key>content</key>
				<string>16G</string>
			</dict>
			<dict>
				<key>content</key>
				<string>8G</string>
			</dict>
			<dict>
				<key>content</key>
				<string>4G</string>
			</dict>
			<dict>
				<key>content</key>
				<string>其他</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headTitle</key>
		<string>本机内存</string>
		<key>content</key>
		<array>
			<dict>
				<key>content</key>
				<string>128G</string>
			</dict>
			<dict>
				<key>content</key>
				<string>64G</string>
			</dict>
			<dict>
				<key>content</key>
				<string>32G</string>
			</dict>
			<dict>
				<key>content</key>
				<string>16G</string>
			</dict>
			<dict>
				<key>content</key>
				<string>4G</string>
			</dict>
			<dict>
				<key>content</key>
				<string>其他</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headTitle</key>
		<string>折扣服务</string>
		<key>content</key>
		<array>
			<dict>
				<key>content</key>
				<string>包邮</string>
			</dict>
			<dict>
				<key>content</key>
				<string>消费者保障</string>
			</dict>
			<dict>
				<key>content</key>
				<string>全球购</string>
			</dict>
			<dict>
				<key>content</key>
				<string>通用排序</string>
			</dict>
			<dict>
				<key>content</key>
				<string>赠运送险</string>
			</dict>
			<dict>
				<key>content</key>
				<string>优惠大礼包</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headTitle</key>
		<string>颜色</string>
		<key>content</key>
		<array>
			<dict>
				<key>content</key>
				<string>中国红</string>
			</dict>
			<dict>
				<key>content</key>
				<string>黑色</string>
			</dict>
			<dict>
				<key>content</key>
				<string>土豪金</string>
			</dict>
			<dict>
				<key>content</key>
				<string>紫色</string>
			</dict>
			<dict>
				<key>content</key>
				<string>象牙白</string>
			</dict>
			<dict>
				<key>content</key>
				<string>灰色</string>
			</dict>
			<dict>
				<key>content</key>
				<string>磨砂黑</string>
			</dict>
			<dict>
				<key>content</key>
				<string>宝石蓝</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
