<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attr</key>
		<dict>
			<key>attrname</key>
			<string>机身颜色</string>
		</dict>
		<key>list</key>
		<array>
			<dict>
				<key>infoname</key>
				<string>高亮黑</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>金色</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>银色</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>磨砂黑</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>玫瑰金</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>attr</key>
		<dict>
			<key>attrname</key>
			<string>网络类型</string>
		</dict>
		<key>list</key>
		<array>
			<dict>
				<key>infoname</key>
				<string>全网通</string>
				<key>plusprice</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>移动、联通双网</string>
				<key>plusprice</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>电信4G</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>合约机</string>
				<key>plusprice</key>
				<integer>5</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>attr</key>
		<dict>
			<key>attrname</key>
			<string>容量大小</string>
		</dict>
		<key>list</key>
		<array>
			<dict>
				<key>infoname</key>
				<string>16G</string>
				<key>plusprice</key>
				<integer>800</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>32G</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>64G</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>128G</string>
				<key>plusprice</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>256G</string>
				<key>plusprice</key>
				<integer>800</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>attr</key>
		<dict>
			<key>attrname</key>
			<string>套餐类型</string>
		</dict>
		<key>list</key>
		<array>
			<dict>
				<key>infoname</key>
				<string>官方标配</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>套餐一</string>
				<key>plusprice</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>套餐二</string>
				<key>plusprice</key>
				<integer>800</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>套餐三</string>
				<key>plusprice</key>
				<integer>800</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>套餐四</string>
				<key>plusprice</key>
				<integer>800</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>套餐五</string>
				<key>plusprice</key>
				<integer>800</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
